<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Style.css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Flack</title>
    </head>
<body>
    <div class="container messenger mt-5">
        <div class="row">
            <div class="col-md-5 pt-3 bg-light">
                <h1>FLACK</h1>
                <!-- Create New Channel Button -->
                <section class="create-new-channel">
                    <button class="btn btn-dark">Create New Channel</button>
                </section>
                <hr>
                <!-- Previous Channels -->
                <section class="prev-channels">
                    <header  class="sticky-top bg-light">
                        <h2>Previous Channels</h2>
                    </header>
                    <main>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Channel 1</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Channel 2</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Channel 3</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Channel 1</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Channel 2</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Channel 3</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Channel 1</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Channel 2</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Channel 3</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Channel 1</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Channel 2</a>
                            </li>
                    </main>
                </section>
            </div>
            <!-- End Channels -->
            <!-- Messenger -->
            <div class="col-md-7 bg-dark p-3">
                <!-- Taking input -->
                <div class="sending-message position-absolute fixed-bottom p-3">
                    <form action="" class="d-flex">
                        <input type="text" name="message" id="message" class="form-control mr-3">
                        <button type="submit" class="btn btn-light">Send</button>
                    </form>
                </div>
                <div class="messaging d-flex flex-column">
                    <div class="message bg-light rounded mt-2">
                        <p class="text-wrap">
                            This will be the very first message.
                            This will be the very first message.
                            This will be the very first message.
                        </p>
                        <p class="bg-dark text-light p-1 rounded">ghostAgentK - <span class="text-info">21:16 PM</span></p>
                    </div>
                    <div class="message bg-light rounded mt-2 my_message">
                        <p class="text-wrap">
                            This will be the very first message.
                        </p>
                        <p class="bg-dark text-light p-1 rounded">ghostAgentK - <span class="text-info">21:16 PM</span></p>
                    </div>
                    <div class="message bg-light rounded mt-2">
                        <p class="text-wrap">
                            This will be the very first message.
                            This will be the very first message.
                            This will be the very first message.
                        </p>
                        <p class="bg-dark text-light p-1 rounded">ghostAgentK - <span class="text-info">21:16 PM</span></p>
                    </div>
                    <div class="message bg-light rounded mt-2 my_message">
                        <p class="text-wrap">
                            This will be the very first message.
                        </p>
                        <p class="bg-dark text-light p-1 rounded">ghostAgentK - <span class="text-info">21:16 PM</span></p>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>
</html>